{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% set subscription = page.order.extensions.subscription.novalnetSubscription %}

{% block page_checkout_finish_content %}
    {{ parent() }}
    <div class="finish-content">
        {% if subscription %}
            <p class="finish-teaser">
                {{ "NovalnetSubscription.text.checkoutAboInfotext"|trans|sw_sanitize }}
            </p>
            <p class="finish-teaser">
                <a href="{{ path('frontend.novalnet.subscription.orders') }}">
                    {{ "NovalnetSubscription.checkout.editAboInfo"|trans|sw_sanitize }}
                </a>
            </p>
        {% endif %}
    </div>
{% endblock %}
