{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_buy_form %}
	{% if page.product.parentId and page.product.extensions.novalnetConfiguration is null %}
		{% set extensions = page.product.parentId|getParentProduct %}
		{% set novalnetSettings = extensions.novalnetConfiguration %}
	{% else %}
		{% set novalnetSettings = page.product.extensions.novalnetConfiguration %}
	{% endif %}
	{% set buyable = product.available and product.childCount <= 0 and product.calculatedMaxPurchase > 0 %}

	{% if product.active and novalnetSettings.active is not empty and buyable is not empty %}
		<div class="novalnet-subscription-price-content">
			<div class="single-product-content-block">
				{% if novalnetSettings.type == 'opt_abo' %}
					<strong class="single-delivery-content">
						<input id="single-delivery-input" class="single-delivery-input subs-selection" name="subsSelection" value="singleDelivery" type="radio" {% if novalnetSettings.predefinedSelection == 'standard' %} checked="checked" {% endif %} />
						<label for="single-delivery-input" class="subscriptionLabel">{{ "NovalnetSubscription.text.singleDeliveryLable"|trans|sw_sanitize }}</label>
					</strong>
					<div class="singleDeliveryBlock {% if novalnetSettings.type == 'opt_abo' and novalnetSettings.predefinedSelection != 'standard' %}nnhide{% endif %}">
						{{ parent() }}
					</div>
				{% endif %}
			</div>
			
			<div class="subscription-content-block">
				{% if novalnetSettings.type == 'opt_abo' %}
					<div class="subcription-lable-block" style="margin-bottom: 1rem;">
						<strong class="subscription-delivery-content">
							<input id="subscription-delivery-input" class="subscription-delivery-input" name="subsSelection" value="subscription" type="radio" {% if novalnetSettings.predefinedSelection is empty or novalnetSettings.predefinedSelection == 'subscription' %} checked="checked" {% endif %} />
							<label for="subscription-delivery-input" class="subscriptionLabel" style="margin-bottom:1rem;">{{ "NovalnetSubscription.text.subscriptionHeadline"|trans|sw_sanitize }}</label>
						</strong>
					</div>
				{% endif %}
				<div class="subscriptionBlock {% if novalnetSettings.type == 'opt_abo' and novalnetSettings.predefinedSelection == 'standard' %}nnhide{% endif %}">
					{% sw_include '@NovalnetSubscription/storefront/page/product-detail/component/subscription.html.twig' %}
				</div>
			</div>
		</div>
    {% else %}
		{{ parent() }}
    {% endif %}
{% endblock %}
