.nnhide {
   display: none;
}

.line-item-nn_discount .line-item-icon .icon {
    color: #3cc261;
}

.line-item-free_trial .line-item-icon .icon {
    color: #3cc261;
}

.subs-detail-cancel {
   float: right;
}

.product-subscription-badges {
    top: 26px;
    left: -24px;
}

.product-badges .badge.badge-subscription {
    transform: rotate(-90deg);
    font-size: 1rem;
    border-radius: inherit;
    line-height: 19px;
    height: 20px;
    width: 66px;
    padding: 0px 5px;
}

.checkout-novalnet-subscription-title{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.subscription--info {
    margin-bottom: 1rem;
}

.subscription--detail-block {
    margin-bottom: .5rem;
}

.subscription--selection-field {
    margin-bottom: 1rem;
}

.subscription--info-block {
    color: #008490;
    font-weight:700;
}

.single-product-content-block,
.subscription-content-block,
.subscriptionBlock,
.subscriptionLabel,
.singleDeliveryBlock {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.subscriptionLabel{
    font-size: large;
}

.novalnet-subscription-badge {
	color: #fff;
    background-color: #526e7f;
}

.novalnet-status-badge {
    border-radius: 50px;
    font-size: .75rem;
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;

    &.abo-order-item-status-badge-pending_cancel {
        background-color: #3cc261;
        color: #fff;
    }
    
    &.abo-order-item-status-badge-pending {
        background-color: #189eff;
        color: #fff;
    }

    &.abo-order-item-status-badge-active {
        background-color: #3cc261;
        color: #fff;
    }

&.abo-order-item-status-badge-on_hold {
        background-color:#189eff;
        color: #fff;
    }

    &.abo-order-item-status-badge-suspended,
    &.abo-order-item-status-badge-invalid,
    &.abo-order-item-status-badge-expired,
    &.abo-order-item-status-badge-cancelled,
    &.abo-order-item-status-badge-failed {
        background-color: #e52427;
        color: #fff;
    }

    .icon {
        color: currentColor;

        svg {
            top: 5px;
        }
    }
}

.success {
	color : #ffffff;
}
