{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% block page_checkout_aside_actions %}
	{% set novalnetConfiguration = page.order.extensions.novalnetSubscription.id or page.order.extensions.subsOrders.id %}
	{% if novalnetConfiguration is not empty %}
		{% set textOptions = {
			confirmButtonText: "NovalnetSubscription.text.checkoutLoadingText"|trans|sw_sanitize
		} %}
		<div class="checkout-aside-action">
			<form id="confirmOrderForm"
				  action="{{ path('frontend.novalnet.subscription.account.edit-order.update-order', { 'orderId': page.order.id}) }}"
				  data-form-preserver="true"
				  data-form-submit-loader="true"
				  method="post">

				 {% block page_checkout_aside_actions_payment_method_id %}
                <input type="hidden" name="paymentMethodId" value="{{ context.getPaymentMethod.getId }}">
            {% endblock %}

            {% set paymentMethodInvalid = true %}

            {% for payment in page.paymentMethods %}
                {% if payment.id is same as(context.paymentMethod.id) %}
                    {% set paymentMethodInvalid = false %}
                {% endif %}
            {% endfor %}

            {% block page_checkout_confirm_form_submit %}
                <button
                    class="btn btn-primary btn-block"
                    {% if page.paymentChangeable == false or paymentMethodInvalid == true %}
                        disabled="disabled"
                    {% endif %}
                    type="submit">
                    {{ "account.editOrderUpdateButton"|trans|sw_sanitize }}
                </button>
            {% endblock %}
			</form>
		</div>
	{% else %}
		{{ parent() }}
	{% endif %}

{% endblock %}
