<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Subscription Management</title>
        <title lang="de-DE">Verwaltung von Abonnements</title>
        
        <component name="sw-entity-multi-id-select">
            <name>supportedPayments</name>
            <entity>payment_method</entity>
            <label>Subscription Payment methods</label>
            <label lang="de-DE">Abonnement-Zahlungsarten</label>
            <helpText>Enable Payment methods to be assigned for subscription orders</helpText>
            <helpText lang="de-DE">Wählen Sie die Zahlungsarten, die Sie für Abonnements aktivieren wollen.</helpText>
        </component>
        
        <input-field type="bool">
            <name>customerCancelOption</name>
            <label>Allow end-user cancellation</label>
            <label lang="de-DE">Kündigung durch den Kunden zulassen</label>
            <defaultValue>false</defaultValue>
            <helpText>Allow end-users to cancel the subscription, on the "My subscription" page.</helpText>
            <helpText lang="de-DE">Endnutzer können das Abonnement auf der Seite "Mein Abonnement" kündigen,</helpText>
        </input-field>
        
        <input-field>
            <name>notifyEmail</name>
            <label>Send cancellation notification</label>
            <label lang="de-DE">Kündigungsbestätigung senden</label>
            <helpText>Enter the email address to notify the recipient when the subscription gets cancelled.</helpText>
            <helpText lang="de-DE">Geben Sie die E-Mail-Adresse ein, von der die Kündigungsbestätigung gesendet wird.</helpText>
        </input-field>
        
        <input-field type="bool">
            <name>nextCycleDate</name>
            <label>Allow the end-user to change the next cycle date</label>
            <label lang="de-DE">dem Endnutzer die Möglichkeit geben, den Abonnementzyklus auszusetzen</label>
            <defaultValue>false</defaultValue>
            <helpText>Allow end-users to change the subscription next cycle date to future dates, on their "My subscription" page.</helpText>
            <helpText lang="de-DE">Endnutzer können auf der Seite "Mein Abonnement" das Datum des nächsten Abonnementzyklus auf ein zukünftiges Datum ändern.</helpText>
        </input-field>

        <input-field type="bool">
            <name>cycleSuspend</name>
            <label>Allow the end-user to suspend the subscription cycle</label>
            <label lang="de-DE">dem Endnutzer die Möglichkeit geben, den Abonnementzyklus auszusetzen</label>
            <defaultValue>false</defaultValue>
            <helpText>Allow end-users to suspend the subscription cycle on the "My subscription" page</helpText>
            <helpText lang="de-DE">Endnutzer können den Abonnementzyklus auf der Seite "Mein Abonnement" aussetzen.</helpText>
        </input-field>
        
        <input-field type="bool">
            <name>changePaymentMethod</name>
            <label>Allow end-user to change the payment method during runtime</label>
            <label lang="de-DE">Erlauben Sie dem Endbenutzer, die Zahlungsmethode während der Laufzeit zu ändern</label>
            <defaultValue>false</defaultValue>
            <helpText>Enable this option to change the payment method during runtime for the end user.</helpText>
            <helpText lang="de-DE">Aktivieren Sie diese Option, um die Zahlungsmethode während der Laufzeit für den Endbenutzer zu ändern.</helpText>
        </input-field>
        
        <input-field type="bool">
            <name>restrictMultipleOrders</name>
            <label>Restrict the end-user to place subscription orders while already having an "ACTIVE" subscription.</label>
            <label lang="de-DE">Einschränkung der Möglichkeit für den Endnutzer, Abonnementbestellungen aufzugeben, wenn er bereits ein "AKTIVES" Abonnement hat</label>
            <defaultValue>false</defaultValue>
            <helpText>This option restricts the end-user from placing subscription orders if they already have an "ACTIVE" Subscription in their account.</helpText>
            <helpText lang="de-DE">Diese Option verhindert, dass der Endbenutzer Abonnementbestellungen aufgibt, wenn er bereits ein "AKTIVES" Abonnement in seinem Konto hat.</helpText>
        </input-field>
        
        <input-field type="bool">
            <name>changeProductQuantity</name>
            <label>Allow end-user to change the product and product quantity during runtime</label>
            <label lang="de-DE">Ermöglicht dem Endbenutzer, das Produkt und die Produktmenge während der Laufzeit zu ändern</label>
            <defaultValue>false</defaultValue>
            <helpText>Enable this option to change the product and product quantity during runtime for the end user.</helpText>
            <helpText lang="de-DE">Aktivieren Sie diese Option, um das Produkt und die Produktmenge während der Laufzeit für den Endbenutzer zu ändern.</helpText>
        </input-field>
        
        <input-field type="bool">
            <name>calculateShippingOnce</name>
            <label>Calculate shipping only for initial order</label>
            <label lang="de-DE">Berechnung der Versandkosten nur für die Erstbestellung</label>
            <helpText>If the option is active, the shipping costs are calculated only for the initial order.</helpText>
            <helpText lang="de-DE">Wenn diese Option aktiviert ist, werden die Versandkosten nur für die erste Bestellung berechnet.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        
        <input-field type="bool">
            <name>reminderEmail</name>
            <label>Send renewal reminder to end-user</label>
            <label lang="de-DE">Verlängerungserinnerung an den Kunden senden</label>
            <helpText>If the option is "enabled", a renewal reminder email will be sent to the end user.</helpText>
            <helpText lang="de-DE">Wenn die Option "aktiviert" ist, wird eine E-Mail zur Erinnerung an die Verlängerung an den Endbenutzer gesendet.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        
        <input-field type="bool">
            <name>mixedCheckout</name>
            <label>Mixed Checkout</label>
            <label lang="de-DE">Gemischter Checkout</label>
            <helpText>Allow a subscription product to be purchased with other products and subscriptions in the same transaction.</helpText>
            <helpText lang="de-DE">Erlauben Sie, dass ein Abonnementprodukt zusammen mit anderen Produkten und Abonnements in derselben Transaktion gekauft werden kann.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        
        <input-field type="int">
            <name>retryPayment</name>
            <label>Retry failed payments until (in days)</label>
            <label lang="de-DE">Wiederholung fehlgeschlagener Zahlungen bis (in Tagen)</label>
            <helpText>Attempt to recover the recurring revenue that would otherwise be lost due to a payment method decline for temporary reasons.</helpText>
            <helpText lang="de-DE">Versuchen Sie, die wiederkehrenden Einnahmen zurückzugewinnen, die andernfalls durch eine vorübergehende Ablehnung einer Zahlungsmethode verloren gehen würden.</helpText>
            <defaultValue>0</defaultValue>
        </input-field>
        
    </card>
</config>
