{% block novalnet_card_subscription_product %}
	<sw-card v-if="product.extensions && product.extensions.novalnetConfiguration && acl.can('novalnet_subscription_product.viewer')">
		{% block novalnet_card_subscription_product_basic_settings %}
			<sw-card :title="$tc('novalnet-subscription.settingForm.subscriptionTitle')">	
				<div v-html="subscriptionInformation" class="novalnet_payment-subscription-project">
				</div>
				<br />
				
				<sw-inherit-wrapper
					v-model="product.extensions.novalnetConfiguration.active"
					:has-parent="!!parentProduct.id && getInheritValue('active') != undefined"
					:inherited-value="getInheritValue('active')"
					>
					<template #content="props">					
						<sw-switch-field
							name="product.extensions.novalnetConfiguration.active"
							:map-inheritance="props"
							:label="$tc('novalnet-subscription.settingForm.productSettings.enableSubscriptionTitle')"
							:disabled="props.isInherited"
							:value="props.currentValue"
							@change="props.updateCurrentValue"
							bordered>
						</sw-switch-field>
					</template>
				</sw-inherit-wrapper>
				
				<sw-inherit-wrapper
					v-model="product.extensions.novalnetConfiguration.displayName"
					:has-parent="!!parentProduct.id && getInheritValue('displayName') != undefined"
					:inherited-value="getInheritValue('displayName')"
					:label="$tc('novalnet-subscription.settingForm.productSettings.displayNameTitle')"
					:helpText="$tc('novalnet-subscription.settingForm.productSettings.displayNameHelpText')">
					<template #content="props">					
						<sw-text-field name="product.extensions.novalnetConfiguration.displayName"
								  :disabled="props.isInherited"
								  :value="props.currentValue"
								  @change="props.updateCurrentValue"
							>
						</sw-text-field>
					</template>
				</sw-inherit-wrapper>
				
				<sw-inherit-wrapper
                    v-model="product.extensions.novalnetConfiguration.type"
                    :has-parent="!!parentProduct.id && getInheritValue('type')"
                    :inherited-value="getInheritValue('type')"
                    :label="$tc('novalnet-subscription.settingForm.productSettings.productPurchaseTitle')">
                    <template #content="props">
                        <sw-single-select name="product.extensions.novalnetConfiguration.type"
                                          labelProperty="name"
                                          valueProperty="id"
                                          :options="subsSelectOptions"
                                          :isInherited="props.isInherited"
                                          :disabled="props.isInherited"
                                          :value="props.currentValue == null ? defaultSubscriptionType : props.currentValue"
                                          @change="updateCurrentTypeValue">
                        </sw-single-select>
                    </template>
                </sw-inherit-wrapper>
                
                <sw-inherit-wrapper
					v-if="isPredefinedDisplay"
                    v-model="product.extensions.novalnetConfiguration.predefinedSelection"
                    :has-parent="!!parentProduct.id && getInheritValue('predefinedSelection')"
                    :inherited-value="getInheritValue('predefinedSelection')"
                    :label="$tc('novalnet-subscription.settingForm.productSettings.productPredefinedTitle')">
                    <template #content="props">
                        <sw-single-select name="product.extensions.novalnetConfiguration.predefinedSelection"
                                          labelProperty="name"
                                          valueProperty="id"
                                          :options="subsPredefinedOptions"
                                          :isInherited="props.isInherited"
                                          :disabled="props.isInherited"
                                          :value="props.currentValue == null ? defaultPredefinedScope : props.currentValue"
                                          @change="props.updateCurrentValue">
                        </sw-single-select>
                    </template>
                </sw-inherit-wrapper>
			</sw-card>
		{% endblock %}
		{% block novalnet_card_subscription_product_interval_settings %}
			<sw-card :title="$tc('novalnet-subscription.settingForm.intervalTitle')">
				<sw-container>
					<sw-inherit-wrapper
						v-model="product.extensions.novalnetConfiguration.multipleSubscription"
						:has-parent="!!parentProduct.id && getInheritValue('multipleSubscription') != undefined"
						:inherited-value="getInheritValue('multipleSubscription')"
					>
						<template #content="props">					
							<sw-switch-field
								name="product.extensions.novalnetConfiguration.multipleSubscription"
								:map-inheritance="props"
								:helpText="$tc('novalnet-subscription.settingForm.productSettings.multipleSelectionHelpText')"
								:label="$tc('novalnet-subscription.settingForm.productSettings.multipleSelectionLabel')"
								:disabled="props.isInherited"
								:value="props.currentValue"
								@change="updateMultipleSubscription"
								bordered>
							</sw-switch-field>
						</template>
					</sw-inherit-wrapper>
				</sw-container>
				
				<div v-if="!isMultipleAllowed">
					<sw-container>
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.period"
							:has-parent="!!parentProduct.id && getInheritValue('period') != undefined"
							:inherited-value="getInheritValue('period')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.intervalPeriodHelpText')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.intervalPeriodLabel')"
						>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.period"
												  labelProperty="name"
												  valueProperty="id"
												  :options="periodOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultSubscriptionPeriod : props.currentValue"
												  @change="updatePeriod">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
					</sw-container>
					
					<sw-container columns="1fr 1fr" gap="15px">
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.interval"
							:has-parent="!!parentProduct.id && getInheritValue('interval') != undefined"
							:inherited-value="getInheritValue('interval')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.intervalHelpText')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.intervalLabel')"
						>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.interval"
												  labelProperty="name"
												  valueProperty="id"
												  :options="intervalOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultSubscriptionInterval : props.currentValue"
												  @change="updateInterval">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
						
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.subscriptionLength"
							:has-parent="!!parentProduct.id && getInheritValue('subscriptionLength') != undefined"
							:inherited-value="getInheritValue('subscriptionLength')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.durationHelpText')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.durationLabel')"
							>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.subscriptionLength"
												  labelProperty="name"
												  valueProperty="id"
												  :options="subsOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultSubscriptionLength : props.currentValue"
												  @change="props.updateCurrentValue">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
					</sw-container>
					
				</div>
				<div v-else>
					<sw-card-section :slim="true" style="padding: 0">
						<sw-container>
							<sw-inherit-wrapper
								v-model="mutiSelectOptions"
								:has-parent="!!parentProduct.id && getInheritValue('multiSubscriptionOptions')"
								:inherited-value="getInheritValue('multiSubscriptionOptions')"
								:label="$tc('novalnet-subscription.settingForm.productSettings.durationOptions')"
								:helpText="$tc('novalnet-subscription.settingForm.productSettings.multipleIntervalPeriodHelpText')"
								:placeholder="$tc('novalnet-subscription.settingForm.productSettings.intervalPeriodPlaceholder')"
								>
								<template #content="props">
									<sw-multi-select name="product.extensions.novalnetConfiguration.multiSubscriptionOptions"
													  labelProperty="name"
													  valueProperty="id"
													  :options="displayFieldOptions"
													  :disabled="props.isInherited"
													  :is-inherited="props.isInherited"
													  :value="props.currentValue"
													  @change="updateMultipleSubsOptions">
									</sw-multi-select>
								</template>
							</sw-inherit-wrapper>
							
							<sw-inherit-wrapper
								v-model="product.extensions.novalnetConfiguration.operationalMonth"
								:has-parent="!!parentProduct.id && getInheritValue('operationalMonth') != undefined"
								:inherited-value="getInheritValue('operationalMonth')"
								:helpText="$tc('novalnet-subscription.settingForm.productSettings.durationMultipleHelpText')"
								:label="$tc('novalnet-subscription.settingForm.productSettings.durationMultipleLabel')"
							>
								<template #content="props">					
									<sw-number-field
										numberType="int"
										:min="0"
										:allowEmpty="false"
										:disabled="props.isInherited"
										:value="props.currentValue"
										@change="props.updateCurrentValue"
										>
									</sw-number-field>
								</template>
							</sw-inherit-wrapper>
						</sw-container>
					</sw-card-section>
				</div>
				
				<sw-container columns="1fr 1fr" gap="15px">
					<sw-inherit-wrapper
						v-model="product.extensions.novalnetConfiguration.freeTrial"
						:has-parent="!!parentProduct.id && getInheritValue('freeTrial') != undefined"
						:inherited-value="getInheritValue('freeTrial')"
						:label="$tc('novalnet-subscription.settingForm.productSettings.freeTrialTitle')"
						>
						<template #content="props">
							<sw-single-select name="product.extensions.novalnetConfiguration.freeTrial"
											  labelProperty="name"
											  valueProperty="id"
											  :options="freeTrialOptions"
											  :disabled="props.isInherited"
											  :is-inherited="props.isInherited"
											  :value="props.currentValue == null ? defaultSubscriptionLength : props.currentValue"
											  @change="props.updateCurrentValue">
							</sw-single-select>
						</template>
					</sw-inherit-wrapper>
					<sw-inherit-wrapper
						v-model="product.extensions.novalnetConfiguration.freeTrialPeriod"
						:has-parent="!!parentProduct.id && getInheritValue('freeTrialPeriod')"
						:inherited-value="getInheritValue('freeTrialPeriod')"
						:helpText="$tc('novalnet-subscription.settingForm.productSettings.freeTrialPeriodHelptext')"
						:label="$tc('novalnet-subscription.settingForm.productSettings.freeTrialPeriodTitle')"
						>
						<template #content="props">
							<sw-single-select name="product.extensions.novalnetConfiguration.freeTrialPeriod"
											  labelProperty="name"
											  valueProperty="id"
											  :options="freeTrialPeriodOptions"
											  :disabled="props.isInherited"
											  :is-inherited="props.isInherited"
											  :value="props.currentValue == null ? defaultSubscriptionPeriod : props.currentValue"
											  @change="props.updateCurrentValue">
							</sw-single-select>
						</template>
					</sw-inherit-wrapper>
				</sw-container>
				
				<sw-container>
					<sw-card-section :slim="true" style="padding: 0px;">
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.signUpFee"
							:has-parent="!!parentProduct.id && getInheritValue('signUpFee') != undefined"
							:inherited-value="getInheritValue('signUpFee')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.signUpFeeTitle')"
							:placeholder="$tc('novalnet-subscription.settingForm.productSettings.signUpFeePlaceholder')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.signUpFeeHelpText')">
							<template #content="props">					
								<sw-field type="number"
										  name="product.extensions.novalnetConfiguration.signUpFee"
										  :min="0"
										  :allowEmpty="true"
										  :disabled="props.isInherited"
										  :value="props.currentValue"
										  @change="props.updateCurrentValue"
									>
									<template #suffix>
										{{ maxValueSuffix }}
									</template>
								</sw-field>
							</template>
						</sw-inherit-wrapper>
					</sw-card-section>
				</sw-container>
				
				<sw-container>
					<sw-inherit-wrapper
						v-model="product.extensions.novalnetConfiguration.detailPageText"
						:has-parent="!!parentProduct.id && getInheritValue('detailPageText') != undefined"
						:inherited-value="getInheritValue('detailPageText')"
						:label="$tc('novalnet-subscription.settingForm.productSettings.productPageText')" 
						:placeholder="$tc('novalnet-subscription.settingForm.productSettings.productPageTextDescription')"
					>
						<template #content="props">					
							<sw-textarea-field type="textarea" 
									name="product.extensions.novalnetConfiguration.detailPageText"
									:disabled="props.isInherited"
									:value="props.currentValue"
									@change="props.updateCurrentValue"
									>
							</sw-textarea-field>
						</template>
					</sw-inherit-wrapper>
				</sw-container>	
			</sw-card>
		{% endblock %}
		
		{% block novalnet_card_subscription_product_discount_settings %}
				<sw-card :title="$tc('novalnet-subscription.settingForm.discountTitle')">
				
					
					<sw-container v-if="!isMultipleAllowed">
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.discountScope"
							:has-parent="!!parentProduct.id && getInheritValue('discountScope') != undefined"
							:inherited-value="getInheritValue('discountScope')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.discountScopeTitle')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.discountScopeHelptext')"
							>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.discountScope"
												  labelProperty="name"
												  valueProperty="id"
												  :options="discountScopeOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultDiscountScope : props.currentValue"
												  @change="props.updateCurrentValue">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
					</sw-container>
					
					<sw-container v-if="!showDiscount && isMultipleAllowed">
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.discountScope"
							:has-parent="!!parentProduct.id && getInheritValue('discountScope') != undefined"
							:inherited-value="getInheritValue('discountScope')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.discountScopeTitle')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.discountScopeHelptext')"
							>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.discountScope"
												  labelProperty="name"
												  valueProperty="id"
												  :options="multipleDiscountScopeOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultDiscountScope : props.currentValue"
												  @change="props.updateCurrentValue">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
						
					</sw-container>
					
					<div v-if="isMultipleAllowed" >
						<sw-container columns="1fr 1fr" gap="15px" v-if="showDiscount">
								<sw-inherit-wrapper
									v-model="product.extensions.novalnetConfiguration.discountScope"
									:has-parent="!!parentProduct.id && getInheritValue('discountScope') != undefined"
									:inherited-value="getInheritValue('discountScope')"
									:label="$tc('novalnet-subscription.settingForm.productSettings.discountScopeTitle')"
									:helpText="$tc('novalnet-subscription.settingForm.productSettings.discountScopeHelptext')"
									>
									<template #content="props">
										<sw-single-select name="product.extensions.novalnetConfiguration.discountScope"
														  labelProperty="name"
														  valueProperty="id"
														  :options="multipleDiscountScopeOptions"
														  :disabled="props.isInherited"
														  :is-inherited="props.isInherited"
														  :value="props.currentValue == null ? defaultDiscountScope : props.currentValue"
														  @change="props.updateCurrentValue">
										</sw-single-select>
									</template>
								</sw-inherit-wrapper>
							
								<sw-inherit-wrapper  :helpText="$tc('novalnet-subscription.settingForm.productSettings.discountScopeHelptext')" >
									<template #content="props">
										<sw-button @click="onAddDiscount" :disabled="disabled" variant="ghost" size="small" style= "width: 100%; margin-top: 5%; padding: 10px 20px; font-size: 15px;" >

										 {{ $tc('novalnet-subscription.settingForm.productSettings.addDiscountTitle') }}
									   </sw-button>
									</template> 
								</sw-inherit-wrapper>
						</sw-container>
					</div>
					
					
					<sw-container columns="1fr 1fr" gap="15px" v-if="!showDiscount" >
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.discountType"
							:has-parent="!!parentProduct.id && getInheritValue('discountType') != undefined"
							:inherited-value="getInheritValue('discountType')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.discountTypeTitle')"
							>
							<template #content="props">
								<sw-single-select name="product.extensions.novalnetConfiguration.discountType"
												  labelProperty="name"
												  valueProperty="id"
												  :options="discountTypeOptions"
												  :disabled="props.isInherited"
												  :is-inherited="props.isInherited"
												  :value="props.currentValue == null ? defaultDiscountType : props.currentValue"
												  @change="updateDiscountType">
								</sw-single-select>
							</template>
						</sw-inherit-wrapper>
						<sw-inherit-wrapper
							v-model="product.extensions.novalnetConfiguration.discount"
							:has-parent="!!parentProduct.id && getInheritValue('discount') != undefined"
							:inherited-value="getInheritValue('discount')"
							:label="$tc('novalnet-subscription.settingForm.productSettings.discountAmount')"
							:helpText="$tc('novalnet-subscription.settingForm.productSettings.discountHelptext')"
						>
							<template #content="props">					
								<sw-field type="number"
										  :max="maxDiscountValue"
										  :min="0"
										  :allowEmpty="true"
										  :disabled="props.isInherited"
										  :value="props.currentValue == null ? 0 : props.currentValue"
										  @change="props.updateCurrentValue"
										>
									<template #suffix>
										<span v-if="isPercentageType">%</span>
										<span v-else>{{ maxValueSuffix }}</span>
									</template>
								</sw-field>
							</template>
						</sw-inherit-wrapper>
					</sw-container>
					
					<div v-if ="isMultipleAllowed && isDiscountDetails" >
						<sw-card>
							<template #grid>
								<sw-data-grid
									:dataSource="discountDetailsInfo"
									:columns="getDiscountColums"
									:compactMode="false"
									:allowInlineEdit="true"
									:showSelection="false"
									:allowInlineDelete = "true"
									>
									
									<template #actions="{ item }">
											<sw-context-menu-item
												class="sw-product-detail-base__review-edit" 
												@click="discountUpdate(item)" 
												:disabled="discountAction"
												>
												{{ $tc('novalnet-subscription.settingForm.productSettings.edit') }}
											</sw-context-menu-item>
											<sw-context-menu-item
												variant="danger"
												@click="discountDelete(item)"
												:disabled="discountAction"
											>
												{{ $tc('novalnet-subscription.settingForm.productSettings.delete') }}
											</sw-context-menu-item>
									</template>
								
								</sw-data-grid>
							</template>
						</sw-card>
					</div>
				</sw-card>
				
				
		{% endblock %}
		
		{% block novalnet_card_subscription_product_basic_settings_action_toolbar_modals %}
			<sw-product-detail-novalnet-subscription-discount
				v-if="discountVisible"
				:product="product"
				:productId="productId"
				@modal-close="closeModals"
				@reload-product="reloadProductDetails">
			</sw-product-detail-novalnet-subscription-discount>
			
			<sw-product-detail-novalnet-subscription-discount-delete
				v-if="discountPeroidDelete"
				:product="product"
				:productId="productId"
				:item="discountDeleteItem"
				@modal-close="closeModals"
				@reload-product="reloadProductDetails">
			</sw-product-detail-novalnet-subscription-discount-delete>
			
			<sw-product-detail-novalnet-subscription-discount-update
				v-if="discountPeroidUpdate"
				:product="product"
				:productId="productId"
				:peroidItem="peroidItem"
				@modal-close="closeModals"
				@reload-product="reloadProductDetails">
			</sw-product-detail-novalnet-subscription-discount-update>
		{% endblock %}
	</sw-card>
{% endblock %}
