<sw-modal :title="$tc('novalnet-subscription.detail.renewalTitle')"
          @modal-close="closeModal">

    <p>{{ $tc('novalnet-subscription.detail.actionConfirm') }}</p>
	
	{% block novalnet_subscription_cancel_modal_content %}
		<template #default>

			{% block novalnet_payment_order_refund_modal_content_info_text %}
				<sw-container columns="1fr"
							gap="0px 30px">
					<sw-text-field 
						v-model="subscriptionInterval"
						:disabled="true"
						:allowEmpty="false"
						:helpText="$tc('novalnet-subscription.settingForm.productSettings.renewalIntervalHelpText')"
						:label="$tc('novalnet-subscription.settingForm.productSettings.intervalLabel')"
						required="required">
					</sw-text-field>
					<sw-select-field
						:helpText="$tc('novalnet-subscription.settingForm.productSettings.renewalDurationHelpText')"
						:label="$tc('novalnet-subscription.settingForm.productSettings.durationLabel')"
						:options="subsOptions"
						v-model="subscriptionLength"
						@change="changeField">
					</sw-select-field>
				</sw-container>
			{% endblock %}
		</template>
	{% endblock %}
			
    <template #modal-footer>
        <sw-button @click="closeModal">
            {{ $tc('novalnet-subscription.detail.abortButton') }}
        </sw-button>

        <sw-button variant="primary" :disabled="disabled"
                   @click="confirm">
            {{ $tc('novalnet-subscription.detail.renewalButton') }}
        </sw-button>
    </template>

    <sw-loader v-if="isLoading"></sw-loader>
</sw-modal>
