<sw-card-view>
    <sw-card :title="$tc('novalnet-subscription.order.orderHistory')" v-if="!isLoading">
        <sw-data-grid
            :dataSource="orders"
            :columns="gridColumns"
            :showSelection="false"
            :showActions="false">
            
            <template #column-subsOrders.cycles="{ item }">
                <div v-if="item.cycles != 'null' && item.cycles != 0">
					{{ item.cycles }}
				</div>
				<div v-else>
					{{ $tc('novalnet-subscription.order.freeTrial') }}
				</div>
            </template>
            
            <template #column-order.orderNumber="{ item }">
                <div v-if="item.order">
					<router-link :to="{ name: 'sw.order.detail', params: { id: item.orderId } }">
						{{ item.order.orderNumber }}
					</router-link>
				</div>
				<div v-else>
					NULL
				</div>
            </template>
            <template #column-subsOrders.status="{ item }">
                <sw-label :variant="getVariantFromOrderState(item.status)" appearance="pill">
                    {{ $tc('novalnet-subscription.status.' + item.status.toLowerCase()) }}
                </sw-label>
            </template>
            <template #column-subsOrders.cycleDate="{ item }">
                <div v-if="item.cycleDate">
					{{ item.order.createdAt| date }}
				</div>
				<div v-else>
					NULL
				</div>
            </template>
        </sw-data-grid>
    </sw-card>
</sw-card-view>
