{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_status_col %}
 {{ parent() }}
    {% if order.extensions.subsOrders and order.extensions.novalnetSubscription %}
        <div class="col-12 col-sm">
            <a href="{{ path('frontend.novalnet.subscription.orders') }}">
                <span class="badge novalnet-subscription-badge badge-lg">{{ "NovalnetSubscription.text.subscriptionHeadline"|trans|sw_sanitize }}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block page_account_order_item_context_menu_content_change_payment_button %}
    {% if not order.extensions.subsOrders and not order.extensions.novalnetSubscription %}
        {{ parent() }}
    {% endif %}
{% endblock %}
